<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<appender name="conAppender" class="org.apache.log4j.ConsoleAppender">
	    <param name="target" value="System.out"/>
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L %n%m%n" />
	    </layout>
	</appender>

	<appender name="TxtAppender" class="org.apache.log4j.FileAppender">
	    <param name="File" value="logs/log.txt" />
	    <layout class="org.apache.log4j.PatternLayout">
		<param name="ConversionPattern" 
			value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
	    </layout>
	</appender>
	
        <logger name="by.epam.runner">
            <level value="info" />
	        <appender-ref ref="conAppender" />
        </logger>
		
        <logger name="by.epam.service">
            <level value="debug" />
			<appender-ref ref="TxtAppender" />
        </logger>
		
        <logger name="by.epam.entity">
            <level value="info" />
			<appender-ref ref="conAppender" />
        </logger>

        <logger name="by.epam.util">
            <level value="info" />
			<appender-ref ref="conAppender" />
        </logger>
				
	<root>
		<level value="DEBUG" />
		<appender-ref ref="TxtAppender" />
	</root>
        

</log4j:configuration>