body {
    background-color: #708090;
}
img {
    position: relative;
    display: block;
    margin-top: 45px;
     margin-right: auto;
     margin-left: auto;
     z-index: -4;
}
a {
    color: white;
}

.login {
    position: relative;
    left: 1200px;
    bottom: 260px;
}

.logreg {
    position: relative;
    left: 1200px;
    bottom: 220px;
}

.register {
    position: relative;
    left: 200px;
    bottom: 0px;
    font-size: 18px;
}

.field {
    background-color: white;
    position: relative;
    top: -25px;
    min-width: 1280px;
    min-height: 600px;
    max-width: 1280px;
    z-index: 2;
    font-size: 15px;
    margin: auto;
}
.underfield {
    position: relative;
    min-width: 1280px;
    max-width: 1280px;
    z-index: 2;
    font-size: 15px;
    margin: 0px auto;
}
div>h2 {
    position: relative;
    left: 200px;
    top: 50px;
}
.logregCh {
    display: inline-block;
    
/*    width: 30%*/
}
.menu {
    position: absolute;
    left: 300px;
    bottom: 220px;
}
.menuch {
    display: inline-block;
    width: 150px
}

.button18 {
  display: inline-block;
  font-size: 12px;
  color: rgb(205,216,228);
  text-decoration: none;
  padding: .2em .8em;
  outline: none;
  border-right: 1px solid rgba(13,20,27,.5);
  border-top: 1px solid rgba(270,278,287,.01);
  background-color: rgb(64,73,82);
  background-image:
   radial-gradient(1px 60% at 0% 50%, rgba(255,255,255,.3), transparent),
   radial-gradient(1px 60% at 100% 50%, rgba(255,255,255,.3), transparent),
   linear-gradient(rgb(64,73,82), rgb(72,81,90));
}
.button18:hover {
  background-image:
   radial-gradient(1px 60% at 0% 50%, rgba(255,255,255,.3), transparent),
   radial-gradient(1px 60% at 100% 50%, rgba(255,255,255,.3), transparent),
   linear-gradient(rgb(51,60,67), rgb(58,65,72));
}
.button18:focus {
  color: rgb(245,247,250);
  border-top: 1px solid rgb(67,111,136);
  background-image:
   linear-gradient(rgb(46,95,122), rgb(36,68,92));
}
.button18:focus:hover {
  border-top: 1px solid rgb(49,87,107);
  background-image:
   linear-gradient(rgb(33,77,98), rgb(29,57,77));
}